body {
    font-family: "Curlz MT", fantasy;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-color: pink;
    background-image: url('hearts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 143, 199, 0.4); /* White overlay with 50% opacity */
    z-index: -1; /* Place behind the content */
}

h1 {
    color: #270404;
    font-family: "Curlz MT", fantasy;
    font-size: 75px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow to the font */
}

h2 {
    color: #270404;
    font-family: "Curlz MT", fantasy;
    font-size: 43px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow to the font */
}

h3 {
    color: #270404;
    font-family: "Curlz MT", fantasy;
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.button {
    background-color: #540204; /* Pink background */
    color: rgb(252, 200, 237); /* black text */
    padding: 10px 20px; /* Bigger padding for size */
    text-align: center;
    text-decoration: none;
    font-size: 24px; /* Larger font size */
    margin: 10px auto;
    display: inline-block;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.button:hover {
    background-color: #310202; /* Darker colour on hover */
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
        padding: 10px;
    }
    .button {
        font-size: 18px;
        padding: 8px 12px;
    }
    body {
        margin: 0;
        min-height: 100vh;
        background-size: cover;
        background-position: center center;
    }
}